/***************************
********* Basic ************
***************************/

* {
    font-size: 18px;
    text-align: center;
}

body {
    min-height: 101vh;
    background-color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

/***************************
**** HEADER - SECTION  *****
***************************/

header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: antiquewhite;
}

.logo {
    padding: 12px 20px;
}

.rahmen {
    border: 1px solid;
    padding: 5px 5px 10px 5px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
    background-color: white;
    text-shadow: 0 0 2px gray;
}

.title {
    display: flex;
    padding: 40px 20px;
    min-width: 420px;
    font-family: 'Roboto', sans-serif;
}

.buchstaben {
    /* padding: 0 10px; */
    width: 5.2rem;
}

.rechner {
    padding-left: 20px
}

@media only screen and (max-width: 1270px) {
    .rahmen h2 {
        font-size: 1.2rem;
    }
    .rahmen h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .title {
        min-width: 290px;
    }
    .title h1 {
        font-size: 2rem;
    }
    .title h2 {
        font-size: 1rem;
    }
    .buchstaben {
        /* padding: 0 10px; */
        width: 3.2rem;
    }
    .rechner {
        padding-left: 10px
    }
}

@media only screen and (max-width: 540px) {
    .rahmen h2 {
        font-size: 0.8rem;
    }
    .rahmen h3 {
        font-size: 0.8rem;
    }
    .title {
        min-width: 180px;
    }
    .title h1 {
        font-size: 1.5rem;
    }
    .title h2 {
        font-size: 0.8rem;
    }
    .buchstaben {
        /* padding: 0 5px; */
        width: 2.2rem;
    }
}

@media only screen and (max-width: 540px) {
    .zeichen {
        display: none;
    }
    .rechner {
        display: none;
    }
    .title {
        min-width: 80px;
    }
    .title h1 {
        font-size: 1.5rem;
    }
    .title h2 {
        font-size: 0.8rem;
    }
    .buchstaben {
        /* padding: 0 5px; */
        width: 2.2rem;
    }
}

/***************************
******* MAIN -SECTION*******
***************************/

main h1,
main h2 {
    width: 600px;
    margin: 30px auto;
}

form {
    width: 300px;
    margin: 30px auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 30px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

label {
    text-align: left;
    flex-basis: 5rem;
    padding: 15px 15px;
}

input {
    width: 80px;
}

button {
    position: relative;
    right: 35px;
    margin-top: 10px;
    align-self: flex-end;
    width: 183px;
}

.output p {
    margin-top: 0;
    padding: 30px;
    line-height: 1.7rem;
}

.output span {
    font-weight: bolder;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 496px;
    height: 301px;
}

.dasX {
    left: 55px;
    bottom: 43px;
    position: absolute;
    text-shadow: 0 0 2px white;
}

/* img {
    width: 496px;
    height: 301px;
} */

.textAusgabe {
    padding-top: 30px;
}

.textAusgabe p {
    padding: 5px
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 1.9rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    main h1,
    main h2 {
        width: 100%;
        max-width: 437px;
        margin: 30px auto;
    }
}

@media only screen and (max-width: 496px) {
    .container {
        overflow-x: scroll;
        overflow-y: visible;
        width: 100%;
        height: 100%;
    }
}

/***************************
***** FOOTER - SECTION *****
***************************/

footer {
    position: sticky;
    top: 100vh;
    background-color: antiquewhite;
    margin-top: 20px;
}

footer p {
    text-align: left;
    padding: 20px;
}

/***************************
********* Basic ************
***************************/